/*Main Page*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #424242;
  color: #f5f5f5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

main {
  width: 70%;
  margin: 50px auto 100px;
}

.main-heading {
  font-family: Copperplate, 'Trebuchet MS';
  font-size: 48px;
  margin-bottom: 32px;
}

.intro {
  margin-bottom: 42px;
  line-height: 24px;
}

.card {
  width: 350px;
  height: 350px;
  background-color: #f5f5f5;
  margin-bottom: 24px;
  padding: 24px 25px;
  border-radius: 16px;
  text-align: center;
}

.card-image {
  width: 300px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

.card-container a {
  color: #333333;
}

a:hover {
  color:#0000ff;
}

/*End of Main Page*/

/*Recipes*/


.nav {
  display: block;
  margin-bottom: 24px;
}

.main-image {
  margin-bottom: 42px;
}

.main-image img{
  border-radius: 8px;
}

.sub-heading {
  margin-bottom: 16px;
}

.description, .ingredients, .directions {
  margin-bottom: 42px;
  line-height: 24px;
}

.list-items{
  margin-left: 24px;
}

.directions-image{
  width: 500px;
  height: auto;
  border-radius: 8px;
}

.steps{
  margin-bottom: 24px;
}

.step-num{
  margin-bottom: 16px;
}

/*Pancake*/


/*End of Pancake*/

/*End of Recipes*/